/* CSS Document */

#button_001{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/001_1.jpg);  
   	cursor:pointer;
}
#button_002{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/002_1.jpg);  
   	cursor:pointer;
}
#button_003{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/003_1.jpg);  
   	cursor:pointer;
}
#button_004{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/004_1.jpg);  
   	cursor:pointer;
}
#button_005{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/005_1.jpg);  
   	cursor:pointer;
}
#button_006{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/006_1.jpg);  
   	cursor:pointer;
}
#button_007{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/007_1.jpg);  
   	cursor:pointer;
}
#button_008{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/008_1.jpg);  
   	cursor:pointer;
}
#button_009{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/009_1.jpg);  
   	cursor:pointer;
}
#button_010{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/010_1.jpg);  
   	cursor:pointer;
}
#button_011{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/011_1.jpg);  
   	cursor:pointer;
}
#button_012{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/012_1.jpg);  
   	cursor:pointer;
}
#button_013{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/013_1.jpg);  
   	cursor:pointer;
}
#button_014{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/014_1.jpg);  
   	cursor:pointer;
}
#button_015{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/015_1.jpg);  
   	cursor:pointer;
}
#button_016{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/016_1.jpg);  
   	cursor:pointer;
}
#button_017{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/017_1.jpg);  
   	cursor:pointer;
}
#button_018{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/018_1.jpg);  
   	cursor:pointer;
}
#button_019{
	width:123px;  
    height:33px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/hate1.png);  
   	cursor:pointer;
}
#button_020{
	width:123px;  
    height:36px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/like1.png);  
   	cursor:pointer;
}
#button_021{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/021_1.jpg);  
   	cursor:pointer;
}
#button_022{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/022_1.jpg);  
   	cursor:pointer;
}
#button_023{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/023_1.jpg);  
   	cursor:pointer;
}
#button_024{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/024_1.jpg);  
   	cursor:pointer;
}
#button_025{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/025_1.jpg);  
   	cursor:pointer;
}
#button_026{
	float:left;
	width:160px;  
    height:135px;  
    border:0px;
    overflow:hidden;  
    text-indent:-9999px;  
    text-transform:capitalize;
    background:url(../imgs/vegetable/026_1.jpg);  
   	cursor:pointer;
}